@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans&display=swap');

/*
 *
 * Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/
 *
 */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  border: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6, a {
  overflow-wrap: break-word;
  color: #505050;
}
#root, #__next {
  isolation: isolate;
}
.ns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 
* Media Queries 
*/
@media screen and (min-width: 350px) {
  p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 480px) {
  p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 750px) {
  p {
    font-size: 1rem;
  }
}

/*
 General css styling and selectors
 */

 html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  font-family: 'Work Sans', sans-serif;
  /* background-color: linear-gradient( white , black); */
}

.dropdown-menu,
nav,
.navbar-nav, a, label {
    list-style: none;
    text-decoration: none;
    color: #505050;
}

.row {
--bs-gutter-x: 0;
--bs-gutter-y: 0;
}

h1{
  text-align: center;
  z-index: 15;
}

p {
  font-size: 1em;
}

i, a {
  padding:10px;
  text-align: center;
}

/**
 *
 * 
 */


.webgl{
  /* display: none; */
  z-index: 1;
}

/* Keyboard div fixed to top of screen */

#kbd-toggle {
  background-color: white;
  left: 37%;
  text-align: center;
  position: fixed;
  top: 2%;
  width: fit-content;
  user-select: none;
  z-index:200;
  border: 2px solid rgb(50, 50, 50);
  box-shadow: 5px rgb(50, 50, 50);
  border-radius: 20px;
}

kbd {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: white;
}
.kbd-text {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 0 0 !important;
}

#navigation{
  height: 100vh;
  display: block;
  position: relative;
}

#about-section, #portfolio-section, #contact-section {
  display: flex;
  align-items: flex-start;
  height: 90vh;
  position: relative;
  padding: 10%;
  padding-top: 30px;
  will-change: transform;
  z-index: 10;
  pointer-events: none;
}

#portfolio-section{
  height: 100vh;
}

#portfolio-div {
  height: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-div:not(h1, p){
  background-color: rgba(222, 158, 54, 0.7);
  height: 100%;
  border-radius: 25px;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

kbd {
  border: 2px solid;
  box-shadow: 5px 5px;
  border-radius: 10% 10%;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  font-weight: 600;
  letter-spacing: normal;
  padding: 10px 5px;
  white-space: nowrap;
  text-align: center;
}

#navigation:first-of-type button {
  /* position: absolute; */
  margin-top: 2%;
  margin-left: 2%;
  font-size: 2rem;
  user-select: none;
  z-index: 130;
}

#offcanvas-button {
  display: block;
  position: fixed;
  justify-content: flex-end;
  user-select: none;
  /* margin-right: 5rem; */
}

.list-contact {
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: all;
}

.list-contact a{
  z-index: 1000;
}


 #offcanvasRight{
  z-index: 120;
 };



